<div class="jumbotron">
    <div class="container">

        <h3 class="display-3">New URL!</h3>

        <h3 id="link"><%= link_to request.base_url + "/" + @url.short_url  + "/" + @url.suffix, shorten_url_path(@url.short_url), target: :blank %></h3>

        <button class="btn btn-info btn-copy " data-clipboard-target="#link">
            Copy to clipboard
        </button>
        <h4>Number of visits: <%= @url.number_of_visits %> </h4>
    </div>
</div>