body {
  padding-top: 5rem;
}
.tiny-url-container {
  padding: 3rem 1.5rem;
  text-align: center;
}
.error-alert {
  color: red;
}

.alert-info {
  width: 50%;
  margin: 100px;
}

.user_nav{
  position: relative;
  float: left;
  margin: 20px;
}